<form>
  <div class="center-login2 mt-4">
    <p-panel header="Ambiente de Pruebas" styleClass="my-panel">
      <div class="ui-float-label mt-3">
        <input id="float-input" type="text" size="30" pInputText class="ng-dirty ng-invalid">
        <label for="float-input">WebService Recepción</label>
      </div>

      <div class="mt-1">
        <p-message severity="error" text="El campo es obligatorio">
        </p-message>
      </div>

      <div class="ui-float-label mt-3">
        <input id="float-input" type="text" size="30" pInputText class="ng-dirty ng-invalid">
        <label for="float-input">WebService Autorización</label>
      </div>

      <div class="mt-1">
        <p-message severity="error" text="El campo es obligatorio">
        </p-message>
      </div>


    </p-panel>
  </div>

  <div class="center-login2 mt-4">
    <p-panel header="Ambiente de Produccion" styleClass="my-panel">
      <div class="ui-float-label mt-3">
        <input id="float-input" type="text" size="30" pInputText class="ng-dirty ng-invalid">
        <label for="float-input">WebService Recepción</label>
      </div>

      <div class="mt-1">
        <p-message severity="error" text="El campo es obligatorio">
        </p-message>
      </div>

      <div class="ui-float-label mt-3">
        <input id="float-input" type="text" size="30" pInputText class="ng-dirty ng-invalid">
        <label for="float-input">WebService Autorización</label>
      </div>

      <div class="mt-1">
        <p-message severity="error" text="El campo es obligatorio">
        </p-message>
      </div>
    </p-panel>

    <div class="mt-3">
      <button pButton type="submit" label="Grabar" class="btn btn-block"></button>
    </div>
  </div>
</form>