<div class="center-login2 mt-4">
  <p-panel header="Parametros" styleClass="my-panel">
    <form [formGroup]="parametrosForm">
      <div class="mt-3">
        <div class="p-grid">
          <div class="p-col">
            <div class="ui-float-label">
              <p-dropdown [options]="cities" formControlName="cmbEmpresa" placeholder="Seleccione una empresa"
                optionLabel="name" [showClear]="true">
              </p-dropdown>
              <label for="float-calendar">Empresa</label>
            </div>
          </div>

          <div class="p-col">
            <div class="ui-float-label">
              <p-calendar id="float-calendar" formControlName="dateCalendar" [showIcon]="true"></p-calendar>
              <label for="float-calendar">Fecha</label>
            </div>

          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-12 p-lg-6">
            <div class="ui-float-label mt-3">
              <input id="float-input" type="text" size="30" pInputText class="ng-dirty ng-invalid"
                formControlName="txtRutaGenerados">
              <label for="float-input">Ruta Generados</label>
            </div>
          </div>

          <div class="p-col-12 p-lg-6">
            <div class="ui-float-label mt-3">
              <input id="float-input" type="text" size="30" pInputText class="ng-dirty ng-invalid"
                formControlName="txtRutaFirmados">
              <label for="float-input">Ruta Firmados</label>
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-12 p-lg-6">
            <div class="ui-float-label mt-3">
              <input id="float-input" type="text" size="30" pInputText class="ng-dirty ng-invalid"
                formControlName="txtRutaEnviados">
              <label for="float-input">Ruta Enviados</label>
            </div>
          </div>

          <div class="p-col-12 p-lg-6">
            <div class="ui-float-label mt-3">
              <input id="float-input" type="text" size="30" pInputText class="ng-dirty ng-invalid"
                formControlName="txtRutaEnviadosRechazados">
              <label for="float-input">Ruta Enviados Rechazados</label>
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-12 p-lg-6">
            <div class="ui-float-label mt-3">
              <input id="float-input" type="text" size="30" pInputText class="ng-dirty ng-invalid"
                formControlName="txtRutaAutorizados">
              <label for="float-input">Ruta Autorizados</label>
            </div>
          </div>

          <div class="p-col-12 p-lg-6">
            <div class="ui-float-label mt-3">
              <input id="float-input" type="text" size="30" pInputText class="ng-dirty ng-invalid"
                formControlName="txtRutaNoAutorizados">
              <label for="float-input">Ruta No Autorizados</label>
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-12 p-lg-6">
            <div class="ui-float-label mt-3">
              <input id="float-input" type="text" size="30" pInputText class="ng-dirty ng-invalid"
                formControlName="txtRutaPdf">
              <label for="float-input">Ruta Pdf</label>
            </div>
          </div>

          <div class="p-col-12 p-lg-6">
            <div class="ui-float-label mt-3">
              <input id="float-input" type="text" size="30" pInputText class="ng-dirty ng-invalid"
                formControlName="txtRutaLogo">
              <label for="float-input">Ruta Logo</label>
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-12 p-lg-6">
            <div class="ui-float-label mt-3">
              <input id="float-input" type="text" size="30" pInputText class="ng-dirty ng-invalid"
                formControlName="txtRutaCertificado">
              <label for="float-input">Ruta Certificado</label>
            </div>
          </div>

          <div class="p-col-12 p-lg-6">
            <div class="ui-float-label mt-3">
              <input id="float-input" type="text" size="30" pInputText class="ng-dirty ng-invalid"
                formControlName="txtClaveCertificado">
              <label for="float-input">Clave Certificado</label>
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-12 p-lg-6">
            <div class="ui-float-label mt-3">
              <input id="float-input" type="text" size="30" pInputText class="ng-dirty ng-invalid"
                formControlName="txtMailDefault">
              <label for="float-input">Mail Default</label>
            </div>
          </div>

          <div class="p-col-12 p-lg-6">
            <div class="ui-float-label mt-3">
              <input id="float-input" type="text" size="30" pInputText class="ng-dirty ng-invalid"
                formControlName="txtObligadoContabilidad">
              <label for="float-input">Obligado a llevar Contabilidad</label>
            </div>
          </div>
        </div>

      </div>



      <div class="mt-3">
        <button pButton type="submit" label="Grabar" class="btn btn-block"></button>
      </div>

    </form>
  </p-panel>
</div>


<div class="p-grid">
  <div class="p-col-12 p-md-6 p-lg-3">A</div>
  <div class="p-col-12 p-md-6 p-lg-3">B</div>
  <div class="p-col-12 p-md-6 p-lg-3">C</div>
  <div class="p-col-12 p-md-6 p-lg-3">D</div>
</div>